body {
  font-family: Roboto, "Arial", sans-serif;
  font-size: 16px;
  color: white;

  background-color: #849d8f;
  /*background-image: url("../img/bg-green.jpg");*/
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.disabled {
  cursor: default;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  min-width: 900px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  margin: 0 auto;

  /*
  border: 2px solid blueviolet;
  */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/bg-green.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider {
  position: relative;

  padding-top: 300px;

  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 1;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.slider-controls label:active {
  background-color: #ffffff;

}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/bg-green.jpg");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/bg-violet.jpg");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/bg-pink.jpg");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*
МЕНЮХА
*/

.main-navigation {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  margin-top: -3px;
  align-content: center;

  /*
  border: 2px solid green;
  */
}

.main-header-logo {
  width: 155px;
  height: 85px;
  display: flex;
  align-items: center;
  margin-right: 13px;
  /*
  border: 2px solid red;
  */
}

.nav-container {
  display: flex;
  min-width: 695px;
  width: 995px;
  align-items: center;
  justify-content: space-between;

  /*
  border: 2px solid red;
  */
}

.menu-button {
  border: none;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  color: white;
  padding: 6px 13px;
}

.menu-button:hover,
.menu-button:active {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

.menu-button:active {
  box-shadow: inset 0 2px 2px rgba(77, 77, 77, 1);
}

.menu-button:hover path,
.menu-button:hover circle,
.menu-button:active path,
.menu-button:active circle {
  fill: #000000;
}

.menu-button span {
  padding-left: 5px;

  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.main-navigation a {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: white;
}

.search-button {
  padding: 6px;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.site-navigation li {
  margin-right: 5px;
}

.site-navigation a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: underline;

  background-color: transparent;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 7px 12px;
}

.site-navigation a:hover {
  color: #323232;
  text-decoration: none;

  background-color: #f7f6f3;
  border-radius: 15px;
}

.site-navigation a:active {
  box-shadow: inset 0 2px 2px rgba(77, 77, 77, 1);
}

.site-navigation .main-navigation-current {
  background-color: #d07058;
  text-decoration: none;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 265px;
  flex-wrap: wrap;
  /*border: 2px solid red;*/
}

.user-navigation div {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  position: relative;
}

.nav-container li {
  position: relative;
}

.site-navigation > li:hover .sub-menu {
  display: block;
}

/* Подменю самого Дьявола!
 Подменю это очень больно. */
.sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  display: none;
  width: 145px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #f8f7f4;
  border-radius: 5px;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.sub-menu li {
  width: 96%;
  margin: 0 auto;
}

.sub-menu a {
  margin: 0;
  display: block;
  padding: 8px 14px;
  text-decoration: none;

  font: inherit;
  color: #323232;
  border-radius: 0;
}

.sub-menu a:hover {
  background-color: #fbded8;
  border-radius: 0;
}

.sub-menu a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.site-navigation .site-navigation-current {
  background-color: #d07058;
  color: white;
}

.sub-menu .special-link {
  font-weight: bolder;
  border-bottom: 1px solid #d1d0ce;
}

.header-phone-number {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  top: 90%;
}

.header-phone-number p {
  display: block;
  float: right;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.header-phone-number strong {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

/* МОДАЛЬНЫЕ ОКНА */

.modal {
  display: none;
  position: absolute;
  color: #000000;
  background-color: #f8f7f4;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 5px;

  z-index: 3;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.modal a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
}

.modal a:hover,
.modal a:active {
  color: #e84d37;
}

.modal-login {

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  top: 35px;
  right: 0;

  width: 280px;
  padding: 20px;
}

.login-link:hover ~ .modal-login {
  display: flex;
}

.modal-login:hover {
  display: flex;
}

.modal-login .links-column {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.modal input {
  width: 100%;
  min-height: 40px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;

  border: #c6c6c6 solid 1px;
  border-radius: 5px;
  color: #c6c6c6;
}

.modal-search-on-site {
  top: 35px;
  right: 0;

  width: 340px;
  padding: 20px 15px;

}

.modal-search-on-site input {
  margin-bottom: 0;
}

.search-button:hover ~ .modal-search-on-site {
  display: flex;
}

.modal-search-on-site:hover {
  display: flex;
}

.modal-cart {
  top: 35px;
  right: 0;

  width: 540px;
  padding: 20px 16px;
  margin: 0;
  box-sizing: border-box;

  flex-direction: column;
  align-items: flex-end;
}

.modal-cart .modal-cart-cost {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  margin: 17px 0;
}

.modal-cart .modal-cart-items {
  width: 100%;
  box-sizing: border-box;
  align-self: flex-start;
  padding: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #cacac7;
}

.cart-link:hover ~ .modal-cart {
  display: flex;
}

.modal-cart:hover {
  display: flex;
}

.modal-feedback {
  position: fixed;
  top: 120px;
  left: 50%;

  width: 480px;
  margin-left: -230px;
  padding: 20px 20px 25px;
  border-radius: 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.modal-feedback h2 {
  margin: 0;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-feedback input {
  width: 265px;
}

.modal-feedback textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 13px;
  margin-bottom: 25px;

  border: #c6c6c6 solid 1px;
  border-radius: 5px;
  color: #c6c6c6;
}

.modal-feedback .button {
  align-self: flex-end;
}

.modal-close {
  position: absolute;
  top: 18px;
  right: 15px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 0;

  width: 22px;
  height: 3px;

  background-color: #323232;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/*
Раздел экстра добавок
*/
.extra-promotion {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
  min-height: 220px;
}

.extra-raspberry {
  max-width: 49%;
  padding: 16px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  background-image: url("../img/bg-raspberry.jpg");
  background-color: #a0203c;
  background-repeat: no-repeat;
  background-size: cover;
}

.extra-chocolate {
  max-width: 49%;
  padding: 16px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  background-image: url("../img/bg-chocolate.jpg");
  background-color: #3f2417;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.extra-promotion h3 {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  padding-bottom: 15px;
}

.extra-promotion p {
  margin: 0;
  padding-bottom: 45px;

  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.extra-promotion .button {
  float: right;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 7px;
}

.hit {
  position: absolute;
  top: 20px;
  left: 5px;
}

/* О КОМПАНИИ */

.features {
  width: 100%;
  margin-top: -40px;
  margin-bottom: 40px;
  border-radius: 20px;
  background-color: #eaddbf;
  background-image: url("../img/vafle.jpg");
  color: #323232;
  padding: 25px 20px 7px;
  box-sizing: border-box;
}

.feature-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  margin-left: -20px;
}

.feature-list li {
  width: 40%;
  flex-grow: 1;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  margin-left: 20px;

  /*border: 2px solid red;*/
}

.feature-list img {
  position: absolute;
  width: 50px;
  height: 50px;
}

.feature-list p {
  margin-top: 8px;
  margin-left: 55px;
}

.features-big {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

/* БЛОК НОВОСТЕЙ И ПОДПИСКА */

.blog-news {
  width: 49%;
  min-height: 220px;
  background: url("../img/bg-strawberry.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding: 25px 20px;
  box-sizing: border-box;
}

.blog-news h2 {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  color: black;
  font-weight: normal;
}

.blog-news div {
  width: 54%;
}

.article-head {
  color: black;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  border-bottom: 2px solid black;
}

/*
ОБРАТИ НА МЕНЯ ВНИМАНИЕ!!! Я НЕ ДОДЕЛАН!!!
*/
.subscribe {
  width: 49%;
  min-height: 220px;
  background-color: #f7f6f3;
  background-image: url("../img/post-card-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  padding: 2px;
}

.subscribe-cover {
  margin: 0;
  width: 98%;
  min-height: 96%;
  background-color: #f8f7f4;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: normal;
  /*margin-top: 2px;
    margin-bottom: 2px;*/
  padding: 10px 20px;
}

.subscribe-cover p {
  margin-bottom: 40px;
}

.subscribe input {
  width: 360px;
  height: 40px;
  padding-left: 10px;
  border-radius: 4px;
  color: #999999;
  border: 1px solid #999999;
}

.subscribe .button {
  padding: 10px 16px;
}

.content-cover {
  display: flex;
  margin-bottom: 20px;
}

.content {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
  /*border: 2px solid red;*/
}

.content .button {
  margin-left: 10px;
  margin-right: 0;
}

/* АДРЕС МАГАЗИНА И КАРТА */
.address {
  background: url("../img/map.jpg ");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 900px;
  width: 1200px;
  min-height: 430px;
  margin-left: -25px;
}

.address p {
  margin: 0;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 22px;
}

.address strong {
  font-size: 18px;
  line-height: 24px;
}

.info-address {
  background-color: #fefefe;
  color: black;
  width: 305px;
  height: 300px;
  padding: 27px 25px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.info-address .button {
  width: 100%;
  margin: 0;
}

/* ФУТЕР!!! */

.main-footer {
  display: flex;
  justify-content: center;
  /*
  border-top: 1px solid rgba(255,255,255,0.5);
  */
}

.main-footer .content {
  margin-top: 15px;
}

/* СОШЛ БАТОНЫ  */
.footer-social {
  width: 200px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-left: -10px;
  margin-top: -10px;
  /*border: 2px solid red;*/
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
}

.social-button:hover {
  opacity: 1;
}

.social-button:active {
  opacity: 0.9;
  border: 2px solid rgba(255, 255, 255, 0.9);
}

.social-button img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: 1px;
}

/* КОЛОНКИ ССЫЛОК В ФУТЕРЕ */
.footer-info {
  width: 380px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin-left: -7px;
}

.footer-info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer-info li {
  margin-bottom: 5px;
}

.footer-info a {
  color: white;
  text-decoration: none;
  font: inherit;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-info-special {
  position: relative;
}

.footer-info-special::before {
  content: "";
  background: url("../img/heart.svg") no-repeat;
  position: absolute;
  left: -25px;
  top: 1px;

  width: 23px;
  height: 23px;

}

/* КОПИРАЙТЫ Ы-Ы-Ы-Ы-Ы :В  */
.footer-copyright {
  margin: 0;
  padding: 0;
  width: 190px;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-top: auto;
  margin-bottom: auto;

  text-decoration: none;
  font-size: 12px;
  color: whitesmoke;
}

.footer-academy-logo {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100px;
  background-repeat: no-repeat;
}

.footer-copyright .underline {
  font: inherit;
  color: whitesmoke;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* РАЗМЕТКА КАТАЛОГА!!!
    ( ╯°□°)╯┻┻
                      */
.inner-page {
  color: white;

  background-color: #849d8f;
  background-image: url("../img/bg-fade.png");
  background-position: top;
  background-repeat: repeat-x;
}

.inner-page main {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  margin-left: 2px;

  font-size: 35px;
  line-height: 41px;
}

/*ХЛЕБ*/
.breadcrumbs {
  max-width: 50%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 6px 0;

  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  color: white;
  text-decoration: underline;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
}

.breadcrumbs-current {
  color: white;
}

.breadcrumbs li {
  position: relative;

  margin-right: 22px;
}

.breadcrumbs li::after {
  content: "»";

  position: absolute;

  width: 8px;
  height: 8px;
  right: -16px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

/*ФИЛЬТРАЦИЯ ТОВАРОВ*/

.filters {
  margin-bottom: 30px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}

.filter-element {
  margin-right: 15px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

  /*border: 2px solid darkorange;*/
}

.filter-element .filter-label {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 16px;

  /*
  border: 2px solid fuchsia;
  */
}

.filter-element ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  /*
  border: 2px solid crimson;
  */

  list-style: none;
  font-size: 16px;
  line-height: 18px;

  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: white;

  padding: 10px 0;
  padding-left: 20px;
}

.filter-input:disabled + label {
  color: white;

  opacity: 0.5;
}

.filter-element .list-sort-by {
  width: 195px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 8px 12px;
  padding-right: 5px;
}
.list-sort-by:hover{
  color: black;
}
.filter-option {
  padding-left: 30px;
  padding-right: 24px;
}

.filter-option-radio {
  padding-right: 20px;
  padding-left: 28px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  background: url("../img/checkbox-off.svg") no-repeat;
  background-size: cover;
  position: absolute;
  left: -35px;
  top: -3px;

  width: 21px;
  height: 21px;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  background: url("../img/checkbox-on.svg") no-repeat;
  background-size: cover;
  position: absolute;
  left: -35px;

  width: 23px;
  height: 21px;
}

.filter-input-radio + label::before {
  content: "";
  background: url("../img/radio-off.svg") no-repeat;
  background-size: cover;
  position: absolute;
  left: -32px;
  top: -3px;

  width: 21px;
  height: 21px;

  border-radius: 50%;
}

.filter-input-radio:checked + label::before {
  content: "";
  background: url("../img/radio-on.svg") no-repeat;
  background-size: cover;
  position: absolute;
  left: -32px;
  top: -3px;

  width: 21px;
  height: 21px;
  border-radius: 50%;
}

.filter-button {
  width: 140px;
  border: 2px solid white;
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: white;
  padding: 7px 20px;
  cursor: pointer;
  margin-bottom: 15px;
  box-sizing: border-box;

}

.filter-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.filter-button:active {
  padding: 9px 20px; /* для сохранения размера кнопки без бордера */
  background-color: #eaeaea;
  border: none;
  color: black;
  cursor: pointer;
  box-shadow: inset 0 2px 2px rgba(77, 77, 77, 1);
}

/*
RANGE-BAR
*/
.range {
  width: 220px;
}

.filter-label input {
  width: 25px;
  margin: 0 2px;
  background-color: transparent;
  color: white;
  border: none;
}

.range-controls {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 17px 20px;
}

.range-controls .scale {
  height: 3px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 60%;
  height: 3px;
  margin-left: 20px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 10px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 15%;
}

.range-toggle-max {
  left: 60%;
}

.range-toggle:hover {
  width: 6px;
  height: 6px;
  top: 9px;
}

/* РАЗДЕЛ КАТАЛОГА */

.catalog {
  margin-left: -18px;
  /* border: 2px solid red; */
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 5px;
}

.catalog-item {
  position: relative;
  width: 275px;
  margin-left: 17px;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  margin-top: -60px;
}

.catalog-item a {
  display: flex;
  flex-direction: column;

  color: white;
  text-align: center;
}

.catalog-item h3 {
  order: 1;
  padding: 0;
  margin-top: -6px;
  margin-bottom: 20px;
  text-decoration: underline;
  margin-left: 10px;
  margin-right: 10px;

  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.catalog-list img {
  width: 265px;
  height: auto;
  border-radius: 50%;
}

.catalog-item:hover {
  background-color: rgba(156, 176, 165, 0.6);
  box-shadow: 0 1em 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 2;
}

.catalog-item .button {
  position: absolute;
  display: none;
  padding: 10px 15px;
  margin: 0 auto;
  align-self: flex-end;
  bottom: 20px;
}

.catalog-item:hover > .button {
  display: block;
}

.catalog-item-price {
  position: absolute;
  top: 177px;
  left: 5px;

  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.catalog-item-price span {
  font-size: 30px;
}

/*ПАГИНАЦИЯ*/

.pagination-list-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.pagination-list {
  padding: 0;
  margin: 0;
  margin-right: -8px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.pagination-item {
  margin-right: 5px;
  position: relative;
  /*
  border: 1px solid red;
  */
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: inline-block;
  min-width: 10px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 0 7px;
  border-radius: 50%;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.pagination-item a:active {
  color: black;
  background-color: white;
}

.pagination-item-current a {
  color: black;
  background-color: white;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: black;
  background-color: white;
}

.pagination-item .disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.pagination-list .prev {
  margin-right: 5px;
  font-size: 0;
  transform: rotate(180deg);
  background: url("../img/pagin-arrow.svg") no-repeat center;
}

.pagination-list .next {
  margin-left: 5px;
  font-size: 0;
  background: url("../img/pagin-arrow.svg") no-repeat center;
}

